*{
    box-sizing: border-box;
}



@media (max-width: 405px){
    
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        gap: 5px;
        padding-bottom: 15px;
    }
}



/* nav a:hover{
    color: pink;
    border-radius: 1px solid white;
}

nav .link:hover{
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    background-color: aqua;
    color: black;
} */

